@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text-h: #0D121C;
    --color-text-p: #4F6696;
    --color-text-white: #FFFFFF;
    --color-text-ky: #FF4A01;
    --color-text-tj: #7B6CD9;
    --color-body-default: #F7FAFC;
    --color-input-input: #E8EBF2;
    --color-button-outline: transparent;
    --color-button-link: #F7FAFC;
    --color-button-ghost: #E8EBF2;
    --color-button-active: #1A5CE5;
    --color-button-error: #FF4D4D;
    --color-stroke-default: #E8EBF2;
    --color-icon-stroke: #4F6696;
    --color-icon-bg: #0D121C;
    --color-solid-default: #D1D6E8;
    --color-scrollbar-track: #D1D6E8;
    --color-scrollbar-thumb: #94A6C7;
    --color-scrollbar-hover: #4F6696;
}

:root[data-theme="dark"] {
    --color-text-h: #FFFFFF;
    --color-text-p: #94A6C7;
    --color-text-white: #FFFFFF;
    --color-text-ky: #FF4A01;
    --color-text-tj: #7B6CD9;
    --color-body-default: #121721;
    --color-input-input: #243047;
    --color-button-outline: transparent;
    --color-button-link: #121721;
    --color-button-ghost: #243047;
    --color-button-active: #1A5CE5;
    --color-button-error: #FF4D4D;
    --color-stroke-default: #243047;
    --color-icon-stroke: #94A6C7;
    --color-icon-bg: #FFFFFF;
    --color-solid-default: #334566;
    --color-scrollbar-track: #334566;
    --color-scrollbar-thumb: #4F6696;
    --color-scrollbar-hover: #94A6C7;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
    border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-hover)
}

.button-hover:hover {
    @apply brightness-75;
}

[data-theme="dark"] .button-hover:hover {
    @apply brightness-150;
}

body {
    color: var(--color-text-h);
    background: var(--color-body-default);
    font-family: Pretendard Variable, system-ui, sans-serif;
}